.Top-Bg{background: url(../images/bg.jpg) 50% top no-repeat ;}
@media (max-width: 768px) {
	.Top-Bg{ background:none;}
}
// 跳到主要內容區塊那顆要能click到
a#gotoMainContent{
	float: left;
	position: absolute;
	z-index: 4000;
}

// ------------------------- Header
#Header{
	.navbar{
		margin-bottom: 0;
		border: 0;
	}

	// 下拉選單
	.megamenu{
		.container{ 
			position: relative; 
			.navbar-header{
				.Logo{
					display: inline-block;
					a img{ 
						max-width: 400px;
						max-height: 100px;
					}
				}
			}
			.Right{
				margin-top: 10px;
				li a{
					color:$color-black;
					font-size: 1.25em;
					text-shadow: none;
					font-weight: bold;
				}
				.nav > li > a:hover, 
				.nav > li > a:focus{
					color:#fff !important;
					background:rgba($color-black, .7);
				}
				.Search{
					input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #fff; }
					input:-moz-placeholder, textarea:-moz-placeholder { color: #fff; }
					.btn-default{ border-color:transparent; }
					.form-control {
						border-radius: 15px 0 0 15px;
						background:rgba(85, 85, 85, .90);
						color:#fff;
						border-color:transparent;
					}
					button{
						background:rgba(85, 85, 85, .90);
						border-radius: 0 15px 15px 0;
						span{ 
							color:$color-main;
							text-shadow:none;
						}
					}
				}
			}
			.Left{
				border-radius: 3px;
				background:rgba(255, 254, 38, 0.3);
				li a{
					color:$color-black;
					text-shadow:none;
					font-size: 1.2em;
				}
				li li a{ 
					font-size: 1em;
					&:hover,&:active{
						color:#fff !important;
						background:$color-main !important;
					}
				}
				.nav > li > a:hover, 
				.nav > li > a:focus,
				.nav .open > a, .nav .open > a:hover, 
				.nav .open > a:focus{
					color:#fff !important;
					background:rgba($color-black, .7);
				}
			}
		}
		.nav,.collapse,.dropdown,.dropdown{ position: static; }
		.dropdown-menu {
			left: auto;
			top: initial;
		}
		.megamenu-content { padding: 20px 30px; }
		.dropdown.megamenu-fw{
			.dropdown-menu{ left: 0; right: 0; }
		}
		#offcanvas-right{
			.navbar-nav{ 
				position:relative;
				float: right;
			}
		}
	}
}

@media (min-width: 768px) {
	#Header{
		.megamenu{
			.container{
				.navbar-header{
					.navbar-toggle{}
					.Logo{ 
						a img{}
					}
				}
				.Right{
					li{
						a{ font-size: 1em;}
					}
					// li a{ font-size: 1em;}
				}
				.Left{
					// 主選單置中
					.navbar-nav{
						float: none;
						display: table;
						margin: 0 auto;
						li a{ 
							font-size: $font-size*1.125;
							font-weight: bold;
							line-height:2;
						}
						li li a{ 
							font-size: $font-size;
							line-height:1.6;
						}
					}
				}
			}
		}
	}
	// 側邊欄版型的Header設定
	.Side{
		.Left.navbar-collapse.collapse{
			display:none !important;
		}
	}
	
}

@media (max-width: 767px) {
	#Header{
		background:#fff;
		.megamenu{
			.container{
				.navbar-header{
					text-align: center;
					box-shadow:0px 4px 5px rgba(20%,20%,40%,0.3);
					.navbar-toggle{ margin:8px 8px; }
					.Logo{
						display: inline-block;
						height: 50px;
						a img{
							height: 40px;
							margin-top: 8px;
						}
					}
				}
				.Right{
					margin-top: 0;
					background:#e5e5e5;
					li a{
						font-weight: normal;
					}
				}
				.Left{
					background:#e5e5e5;
				}
			}
			#offcanvas-right{
				.navbar-nav{ float: none; }
			}
		}
	}
	// 側邊欄版型的Header設定
	.Side{
		.Left.navbar-collapse.collapse{}
	}
}